.container {
    width: 100%; 
    max-width: 1680px; 
    margin: 0;   
    text-align: center;
    align-items: center;
}

header {
    background-color: #000000;
    color: #33ff00c0;
    padding: 20px 0;
    font-size: xx-large;
    text-align: center;
    width: 100%;     
    padding: 20px 0;
    font-size: xx-large;
    width: 100%;   
    font-weight: bolder;    
}

header .container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

footer {
    background-color: #000000;
    color: #33ff00c0;
    padding: 7px 0;
    font-size: large;
    font-weight: bolder;
    text-align: center; 
    width: 100%; 
    position: fixed;
    bottom: 0;
    transition: transform 0.3s smooth;
    position: sticky;
}

footer:sticky {
    transform: translateY(100%);
}

img{
    width: 90%;
    height: 40%;
    border-radius: 10px;
    margin-right: 35px;
}

/**
 ENLLAÇOS DE LES PAGINES
 */
.caixaenllaços{
    background-color: #000000;
    width: 50%;
    height: 90%;
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: x-large;
    text-align: left;
    color: #33ff00c0;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.caixaenllaços ul li:hover {
    color: #33ff00c0;
}

.caixaenllaços ul li{
    color: #ffffff;
    padding-bottom: 40px;
}

a{
    color: inherit;
    text-decoration: none;
}
/**
 TEXT INFORMATIU
 */
.caixacoses{
    background-color: #000000;
    width: 50%;
    height: 90%;
    margin: 20px;
    padding: 10px;
    color: #33ff00c0;
    font-size: x-large;
    text-align: center;
    border-radius: 15px ;
}

.caixacoses ul{
    color: #ffffff;
    font-size: 18px;
}

.caixacoses ul li{
    margin: 20px;
    text-align: justify;
}

.container1{
    display: flex;
    justify-content:center;
}



.btn {
    height: 25px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: large;
    margin: auto;
    color: #ff0000;
    border-radius: 30px;
    background-color: #ffffff;
    overflow: hidden;
}

#fotosbotons{
    width: 85%;
    height: 35%;
    border-radius: 10px;
    margin: 20px
}